body{
    margin: 0;
    font-family: Arial,sans-serif;
}

.image-container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(192, 63, 149, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

.form-container h2{
    margin-bottom: 20px;
    color: #aaa ntiquewhite;
}

.form-container label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:antiquewhite
}


.form-container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container button{
    width: 100%;
    padding: 10px;
    background-color: #d8a1cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover{
    background-color: #db055f;;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}
