body{
    margin:0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.image-container{
    position: relative;
    width:80%;
    max-width: 600px;
}
.image-container img{
    width: 100%;
    border-radius: 100px;
}

.image-container .overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    /* sem1-transparent backgroun*/
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}